a {
  color: unset;
}
body {
  font-family: "Schibsted Grotesk", sans-serif;
  background-color: rgb(203, 215, 223);
}
header{
  background-color: rgb(164, 205, 215);
  box-shadow: 0px 5px 5px gray;
  padding: 5px 10px;
}
.pageName{
  color: white;
  font-family: 'Mogra', cursive;
}

#list {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
}
.weather {
  background-image: linear-gradient(gray, white);
  border-radius: 20px;
  box-shadow: 0 5px 7px #888888;
}
.weather:hover {
  cursor: pointer;
}
#forDay {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  text-align: center;
  min-width: 130px;
  min-height: 160px;
  border-radius: 20px;
  transition: all 0.2s;
  box-shadow: 0 10px 20px -4px rgba(159, 153, 153, 0.7);
  padding: 10px;
  margin: 10px;
  background-color: rgb(217, 220, 222);
}
#forDay:hover {
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.7);
  transform: scale(1.1);
}

.cities {
  cursor: pointer;
}
.col-3:hover {
  color: rgb(86, 86, 142);
}
.weatherSituation {
  cursor: pointer;
}
#weatherDescription {
  text-transform: capitalize;
}
#currentIcon {
  height: 55px;
  width: 55px;
  box-shadow: none;
}
#headerList {
  list-style-type: none;
}
.card {
  margin-top: 60px;
  padding: 20px;
}
h1 {
  font-weight: bold;
}
.active-temp {
  color: rgb(48, 143, 48);
}
.number {
  padding: 4px;
}
.weather-temperature img{
  margin-right: 5px;
  height: 64px;
  width: 64px;
}

.weather-temperature strong{
  color: rgb(33,33,33);
  font-size:64px ;
  line-height: 1;
  font-weight: 400;
}
.weather-temperature .units{
  position: relative;
  font-size: 20px;
  top:-34px;
}
.active{
  color:rgb(20, 32, 160);
  cursor: default; 
}
.active:hover{
  text-decoration:none;
}


